.git/
.gitignore
.DS_Store
.idea/
.vscode/
*.log
*.log.*
_build/
_obj/
_test/
bin/
coverage/
coverage.out
coverage-all.out
coverage-all.html
.specify/
.windsurf/
test/.cluster/
test/.download/
test/e2edebugLog.txt
