apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.global.configName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "spiderpool.spiderpoolController.labels" . | nindent 4 }}
    {{- if .Values.global.commonLabels }}
    {{- include "tplvalues.render" ( dict "value" .Values.global.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.global.commonAnnotations }}
  annotations:
    {{- include "tplvalues.render" ( dict "value" .Values.global.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  conf.yml: |
    enableKubevirtStaticIP: {{ .Values.ipam.enableKubevirtStaticIP }}
    enableSpiderSubnet: {{ .Values.ipam.spidersubnet.enable }}
    enableAutoPoolForApplication: {{ .Values.ipam.spidersubnet.autoPool.enable }}
    {{- if and .Values.ipam.spidersubnet.enable .Values.ipam.spidersubnet.autoPool.enable }}
    clusterSubnetDefaultFlexibleIPNumber: {{ .Values.ipam.spidersubnet.autoPool.defaultRedundantIPNumber }}
    {{- else}}
    clusterSubnetDefaultFlexibleIPNumber: 0
    {{- end }}
    enableDRA: {{ .Values.dra.enabled }}
    {{- if .Values.dra.cdiRoot }}
    draLibraryPath: {{ .Values.dra.libraryPath }}
    cdiRoot: {{ .Values.dra.cdiRootPath }}
    {{- end }}
{{- if .Values.multus.multusCNI.install }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Values.multus.multusCNI.name | trunc 63 | trimSuffix "-" }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "spiderpool.multus.labels" . | nindent 4 }}
      {{- if .Values.global.commonLabels }}
      {{- include "tplvalues.render" ( dict "value" .Values.global.commonLabels "context" $ ) | nindent 4 }}
      {{- end }}
data:
  cni-conf.json: |
    {
      "cniVersion": "0.3.1",
      "name": "multus-cni-network",
      "type": "multus",
      "confDir": "/etc/cni/net.d/" ,
      "logLevel": "{{ .Values.multus.multusCNI.log.logLevel }}",
      "logFile": "{{ .Values.multus.multusCNI.log.logFile }}",
      "capabilities": {
        "portMappings": true,
        "bandwidth": true
      },
      "namespaceIsolation": false,
      "clusterNetwork": "{{ .Values.multus.multusCNI.defaultCniCRName }}",
      "defaultNetworks": [],
      "multusNamespace": "{{ .Release.Namespace }}",
      "systemNamespaces": [],
      "kubeconfig": "/etc/cni/net.d/multus.d/multus.kubeconfig"
    }
{{- end }}
