apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.global.configName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "spiderpool.spiderpoolController.labels" . | nindent 4 }}
    {{- if .Values.global.commonLabels }}
    {{- include "tplvalues.render" ( dict "value" .Values.global.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.global.commonAnnotations }}
  annotations:
    {{- include "tplvalues.render" ( dict "value" .Values.global.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  conf.yml: |
    ipamUnixSocketPath: {{ .Values.global.ipamUNIXSocketHostPath }}
    networkMode: {{ .Values.feature.networkMode }}
    enableIPv4: {{ .Values.feature.enableIPv4 }}
    enableIPv6: {{ .Values.feature.enableIPv6 }}
    enableStatefulSet: {{ .Values.feature.enableStatefulSet }}
    enableSpiderSubnet: {{ .Values.feature.enableSpiderSubnet }}
    {{- if ( and .Values.feature.enableIPv4 .Values.clusterDefaultPool.installIPv4IPPool ) }}
    clusterDefaultIPv4IPPool: [{{ .Values.clusterDefaultPool.ipv4IPPoolName }}]
    {{- else}}
    clusterDefaultIPv4IPPool: []
    {{- end }}
    {{- if ( and .Values.feature.enableIPv6 .Values.clusterDefaultPool.installIPv6IPPool ) }}
    clusterDefaultIPv6IPPool: [{{ .Values.clusterDefaultPool.ipv6IPPoolName }}]
    {{- else}}
    clusterDefaultIPv6IPPool: []
    {{- end }}
    {{- if ( and .Values.feature.enableSpiderSubnet .Values.feature.enableIPv4 ) }}
    clusterDefaultIPv4Subnet: [{{ .Values.clusterDefaultPool.ipv4SubnetName }}]
    {{- else}}
    clusterDefaultIPv4Subnet: []
    {{- end}}
    {{- if ( and .Values.feature.enableSpiderSubnet .Values.feature.enableIPv6 )}}
    clusterDefaultIPv6Subnet: [{{ .Values.clusterDefaultPool.ipv6SubnetName }}]
    {{- else}}
    clusterDefaultIPv6Subnet: []
    {{- end }}
    {{- if .Values.feature.enableSpiderSubnet }}
    clusterSubnetDefaultFlexibleIPNumber: {{ .Values.clusterDefaultPool.subnetDefaultFlexibleIPNumber }}
    {{- else}}
    clusterSubnetDefaultFlexibleIPNumber: 0
    {{- end }}