---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: spiderpool-admin
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - namespaces
  - nodes
  - pods
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - update
- apiGroups:
  - spiderpool.spidernet.io
  resources:
  - spiderendpoints
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - spiderpool.spidernet.io
  resources:
  - spiderendpoints/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - spiderpool.spidernet.io
  resources:
  - spiderippools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - spiderpool.spidernet.io
  resources:
  - spiderippools/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - spiderpool.spidernet.io
  resources:
  - spiderreservedips
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
