---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (unknown)
  name: spiderreservedips.spiderpool.spidernet.io
spec:
  group: spiderpool.spidernet.io
  names:
    categories:
    - spiderpool
    kind: SpiderReservedIP
    listKind: SpiderReservedIPList
    plural: spiderreservedips
    shortNames:
    - sr
    singular: spiderreservedip
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: ipVersion
      jsonPath: .spec.ipVersion
      name: VERSION
      type: string
    name: v2beta1
    schema:
      openAPIV3Schema:
        description: SpiderReservedIP is the Schema for the spiderreservedips API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ReservedIPSpec defines the desired state of SpiderReservedIP.
            properties:
              ipVersion:
                enum:
                - 4
                - 6
                format: int64
                type: integer
              ips:
                items:
                  type: string
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
