kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  kubeProxyMode: {{ kube_proxy_mode }}
  disableDefaultCNI: {{ disable_default_cni }}
  ipFamily: {{ ip_family }}
  # If you are using Docker on Windows or Mac, you will need to use an IPv4 port forward for the API Server from the host because IPv6 port forwards don't work on these platforms
  apiServerAddress: 127.0.0.1
{%- if ip_family == "ipv4" %}
  podSubnet: "{{CLUSTER_POD_SUBNET_V4}}"
  serviceSubnet: "{{K8S_IPV4_SERVICE_CIDR}}"
{%- elif ip_family == "ipv6" %}
  podSubnet: "{{CLUSTER_POD_SUBNET_V6}}"
  serviceSubnet: "{{K8S_IPV6_SERVICE_CIDR}}"
{%- else %}
  podSubnet: "{{CLUSTER_POD_SUBNET_V4}},{{CLUSTER_POD_SUBNET_V6}}"
  serviceSubnet: "{{K8S_IPV4_SERVICE_CIDR}},{{K8S_IPV6_SERVICE_CIDR}}"
{%- endif %}
kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    metadata:
      name: config
    apiServer:
        extraArgs:
          enable-admission-plugins: NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook
    etcd:
      local:
        dataDir: "/tmp/lib/etcd"

nodes:
  - role: control-plane
{%- if kind_image_tag != "" %}
    image: {{ kind_image_name }}:{{ kind_image_tag }}
{%- endif %}
  - role: worker
{%- if kind_image_tag != "" %}
    image: {{ kind_image_name }}:{{ kind_image_tag }}
{%- endif %}