name: Call Release Changelog

env:
  SCRIPT_PATH: "./tools/scripts/changelog.sh"
  LABEL_FEATURE: "release/feature-new"
  LABEL_CHANGED: "release/feature-changed"
  LABEL_BUG: "release/bug"
  DEST_BRANCH: github_pages
  DEST_DIRECTORY: 'changelogs/'
  PR_LABEL: pr/release/robot_update_githubpage
  PR_REVIWER: weizhoublue

on:
  workflow_call:
    inputs:
      dest_tag:
        required: true
        type: string
    outputs:
      artifact:
        description: "name of changelog artifact"
        value: changelog_artifact
  workflow_dispatch:
    inputs:
      dest_tag:
        description: 'last commit based on which tag'
        required: true
        default: v0.2.0
      begin_tag:
        description: '[optional] start commit based on which tag'
        required: false

permissions: write-all


jobs:
  generate_changelog:
    runs-on: ubuntu-latest
    outputs:
      dest_tag: ${{ env.dest_tag }}
      begin_tag: ${{ env.begin_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Input Tags
        run: |
          set -x
          begin_tag=""
          dest_tag=""
          if ${{ inputs.dest_tag != '' }} ; then
              echo "call by workflow_call"
              dest_tag=${{ inputs.dest_tag }}
              [ -z "$dest_tag" ] && echo "empty dest_tag" && exit 1
              if ! git describe --tags --abbrev=0  ${dest_tag} &>/dev/null ; then
                  echo "error, does not exist dest_tag ${dest_tag} "
                  exit 1
              fi
              begin_tag=${{ inputs.begin_tag }}
          elif ${{ github.event_name == 'workflow_dispatch' }} ; then
              echo "call by workflow_dispatch"
              dest_tag=${{ github.event.inputs.dest_tag }}
              begin_tag=${{ github.event.inputs.begin_tag }}
              [ -z "$dest_tag" ] && echo "empty dest_tag" && exit 1
              if ! git describe --tags --abbrev=0  ${dest_tag} &>/dev/null ; then
                  echo "error, does not exist dest_tag ${dest_tag} "
                  exit 1
              fi
              if [ -n "$begin_tag" ] && ! git describe --tags --abbrev=0  ${begin_tag} &>/dev/null ; then
                  echo "error, does not exist begin_tag ${begin_tag} "
                  exit 1
              fi
          else
              echo "unexpected event: ${{ github.event_name }}"
              exit 1
          fi
          echo "RUN_dest_tag=${dest_tag}" >> $GITHUB_ENV
          echo "RUN_begin_tag=${begin_tag}" >> $GITHUB_ENV

      - name: generate changelog
        run: |
          set -x
          export LABEL_FEATURE=${{ env.LABEL_FEATURE }}
          export LABEL_CHANGED=${{ env.LABEL_CHANGED }}
          export LABEL_BUG=${{ env.LABEL_BUG }}
          export PROJECT_REPO=${{ github.repository }}
          export GH_TOKEN=${{ github.token }}
          mkdir changelog
          if ${{ env.RUN_begin_tag == '' }} ; then
              ${{ env.SCRIPT_PATH }} ./changelog ${{ env.RUN_dest_tag }} \
                || { echo "error, failed to generate changelog " ; exit 1 ; }
          else
              ${{ env.SCRIPT_PATH }} ./changelog ${{ env.RUN_dest_tag }} ${{ env.RUN_begin_tag }}  \
                || { echo "error, failed to generate changelog " ; exit 1 ; }
          fi
          FILE_NAME=` ls changelog `
          [ -n "$FILE_NAME" ] || { echo "error, failed to find changelog " ; exit 2 ; }
          #
          TMP=` echo ${FILE_NAME%.*}`
          begin_tag=`awk -F'_' '{print $3}' <<< "${TMP}" `
          dest_tag=`awk -F'_' '{print $5}' <<< "${TMP}" `
          echo "dest_tag=${dest_tag}" >> $GITHUB_ENV
          echo "begin_tag=${begin_tag}" >> $GITHUB_ENV
          FILE_PATH=` echo ${PWD}/changelog/${FILE_NAME} `
          echo "FILE_PATH=${FILE_PATH}" >> $GITHUB_ENV
          echo "------------------------------------"
          cat ${FILE_PATH}

      - name: Upload Changelog
        uses: actions/upload-artifact@v4.5.0
        with:
          name: changelog_artifact
          path: ${{ env.FILE_PATH }}
          retention-days: 1
          if-no-files-found: error

  update_githubpage:
    runs-on: ubuntu-latest
    needs: [generate_changelog]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.DEST_BRANCH }}

      - name: Download Artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: changelog_artifact
          path: ${{ env.DEST_DIRECTORY }}

      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v7.0.5
        with:
          title: "robot update changelog with tag ${{ needs.generate_changelog.outputs.dest_tag }} to branch ${{ env.DEST_BRANCH }} "
          commit-message: "robot update changelog from tag ${{ needs.generate_changelog.outputs.begin_tag }} to tag ${{ needs.generate_changelog.outputs.dest_tag }} "
          committer: weizhoublue<weizhou.lan@daocloud.io>
          branch-suffix: timestamp
          branch: robot/update_changelog
          delete-branch: true
          base: ${{ env.DEST_BRANCH }}
          signoff: true
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: ${{ env.PR_LABEL }}
