name: Call Release Doc

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      submit:
        required: true
        type: string
    outputs:
      artifact:
        description: "name of artifact"
        value: website_package_artifact
  # --- call by manual
  workflow_dispatch:
    inputs:
      ref:
        description: 'branch, tag, sha'
        required: true
        default: main

permissions: write-all

env:
  MERGE_BRANCH: github_pages
  SRC_DIRECTORY: 'docs'
  DEST_DIRECTORY: 'docs'
  PR_LABEL: pr/release/robot_update_githubpage
  PR_REVIWER: weizhoublue

jobs:
  prepare_doc:
    name: prepare doc
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ steps.get_ref.outputs.ref }}
      submit: ${{ steps.get_ref.outputs.submit }}
    steps:
      - name: Get Ref
        id: get_ref
        run: |
          pwd
          ls
          if ${{ inputs.ref != '' }}; then
              echo "call by workflow_call"
              echo ::set-output name=ref::${{ inputs.ref }}
              echo ::set-output name=submit::${{ inputs.submit }}
          elif ${{ github.event_name == 'workflow_dispatch' }} ; then
              echo "call by workflow_dispatch"
              echo ::set-output name=ref::${{ github.event.inputs.ref }}
              echo ::set-output name=submit::true
          else
              echo "unexpected event: ${{ github.event_name }}"
              exit 1
          fi

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.get_ref.outputs.ref }}

      - name: Build Site
        run: |
          make build_doc

      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: website_package_artifact
          path: docs/site.tar.gz
          retention-days: 0
          if-no-files-found: error

  create_pr:
    name: Create PR
    needs: prepare_doc
    if: ${{ needs.prepare_doc.outputs.submit == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ env.MERGE_BRANCH }}

      - name: backup charts
        run: |
          rm -rf ./_backupCharts
          mkdir ./_backupCharts
          cp -f ${{ env.DEST_DIRECTORY }}/index.yaml ./_backupCharts
          cp -rf ${{ env.DEST_DIRECTORY }}/charts ./_backupCharts/charts
          rm -rf ${{ env.DEST_DIRECTORY }}
          mkdir ${{ env.DEST_DIRECTORY }}

      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: site_artifact
          path: ${{ env.DEST_DIRECTORY }}

      - name: Untar Artifact And Restore Charts
        run: |
          cd ${{ env.DEST_DIRECTORY }}
          tar -xzvf site.tar.gz
          rm -f site.tar.gz
          cp -rf ../_backupCharts/* ./
          rm -rf ../_backupCharts

      # Allow auto-merge on general
      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v4.1.1
        with:
          title: "robot update website from ${{ needs.prepare_doc.outputs.ref }} to branch ${{ env.MERGE_BRANCH }} "
          commit-message: "robot update website from ${{ needs.prepare_doc.outputs.ref }} to branch ${{ env.MERGE_BRANCH }} "
          branch-suffix: timestamp
          branch: robot/update_doc
          delete-branch: true
          base: ${{ env.MERGE_BRANCH }}
          signoff: true
          token: ${{ secrets.WELAN_PAT }}
          labels: ${{ env.PR_LABEL }}
          reviewers: ${{ env.PR_REVIWER }}
