# validate any chart changes under charts directory
name: Lint Chart check

env:
  HELM_VERSION: v3.8.1
  KIND_VERSION: v0.12.0
  K8S_VERSION: v1.23.4
  DEFAULT_BRANCH: main

on:
  pull_request:
    paths:
      - "charts/**"

jobs:
  chart-lint-test:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # The cached helm binary path is prepended to the PATH environment variable as well as stored in the helm-path output variable
      # https://github.com/Azure/setup-helm
      - name: Set up Helm
        uses: azure/setup-helm@v2.0
        with:
          version: ${{ env.HELM_VERSION }}

      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@v3.0.0
        with:
          python-version: 3.8
          architecture: x64

      # https://github.com/helm/chart-testing-action
      # Pre-requisites: A GitHub repo containing a directory with your Helm charts (e.g: charts)
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          # https://github.com/helm/chart-testing-action/issues/25
          # if the default branch is not master , the CLI exits with error
          changed=$( ct list-changed --target-branch ${{ env.DEFAULT_BRANCH }}  )
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      # version checking, YAML schema validation on 'Chart.yaml', YAML linting on 'Chart.yaml'
      # and 'values.yaml', and maintainer validation
      - name: Run chart-testing (lint)
        run: ct lint --debug --target-branch ${{ env.DEFAULT_BRANCH }}

      # https://github.com/helm/kind-action
      - name: Create Kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.2.0
        with:
          wait: 120s
          kubectl_version: ${{ env.K8S_VERSION }}

      #  It automatically detects charts changed
      - name: Run chart-testing (install)
        run: ct install --debug --target-branch ${{ env.DEFAULT_BRANCH }}
        # https://github.com/helm/helm/issues/8036 do below before   ct install
        # if [ -f "./Chart.lock" ]; then cat ./Chart.lock | grep repository | awk '{print $2}' | while read -r line ; do helm repo add $line $line; done; fi