name: PR Assign Label

# auto label pr who is approved by 2 guys.

env:
  LABEL: pr/approved,pr/need-release-label

on: pull_request_review

jobs:
  labelWhenApproved:
    name: Label when approved
    runs-on: ubuntu-latest
    steps:
      # https://github.com/abinoda/label-when-approved-action
      - name: Label when approved
        uses: pullreminders/label-when-approved-action@v1.0.7
        env:
          APPROVALS: "2"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ADD_LABEL: ${{ env.LABEL }}
          # REMOVE_LABEL: "..."
